.bar {
  color: black;
}

.bar > img {
  border-radius: 50%;
}

.button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.button:hover {
  background: orange;
}

@media (max-width: 600px) {
  .bar > button > svg {
    filter: invert(100%);
  }
}
