.nav {
  display: flex;
  height: 50px;
  width: 100%;
  background-color: white;
  position: relative;
}

.nav > .nav_header {
  flex: 2;
  display: inline;
}

.nav > .nav_header > .nav_title {
  display: inline-block;
  font-size: 22px;
  color: black;
  padding: 10px 10px 10px 10px;
}

.nav > .nav_header > .nav_title > span {
  color: rgba(249, 105, 14, 1);
}

.nav > .nav_btn {
  display: none;
}

.nav > .nav_links {
  display: flex;
  float: right;
  font-size: 18px;
}

.nav > .nav_links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: black;
}

.nav > .nav_links > a:hover {
  background-color: rgba(249, 105, 14, 0.8);
}

.nav > .nav_check {
  display: none;
}

@media (max-width: 600px) {
  .nav > .nav_btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav_btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav_btn > label:hover,
  .nav #nav-check:checked ~ .nav_btn > label {
    background-color: rgba(249, 105, 14, 0.8);
  }
  .nav > .nav_btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid black;
  }
  .nav > .nav_links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgba(249, 105, 14, 0.8);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav_links > a {
    display: block;
    width: 100%;
    color: white;
  }
  .nav > #nav-check:not(:checked) ~ .nav_links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav_links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
